modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19073
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BKakbZ513JKm_vCDWLyF5iIyl8lTVKbP8vJ1yv0PRO7SQm7VhyxynR-GcAWhFGJnodT_o0rRyY3H9c2dnITcaw8"
VAPID_PRIVATE_KEY = "sWtdZVhCE_3nG7wzeqvn50M-wBs0OT1IYRVVUUuga4A"
VAPID_SUBJECT = "mailto:admin@easyagra.in"
